{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Favicons -->
  <link href="{% static 'dashboard/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'dashboard/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'dashboard/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'dashboard/assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  {% include 'crm/header.html' %}
  <!-- End Header -->

  {% include "crm/sidebar.html" %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>{% block page_title %}{% endblock page_title %}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">{% block title %}{% endblock title %}</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
      <div class="row">

        {% if messages %}
          <div class="messages11">
            {% for message in messages %}
              {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% block content %}
        {% endblock content %}
        <!-- Left side columns -->
        <!-- End Left side columns -->

        <!-- Right side columns -->
        <!-- End Right side columns -->

      </div>
    </section>

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Valdin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="">Rayden</a>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'dashboard/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'dashboard/assets/js/main.js' %}"></script>

</body>

</html>
